
body{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}



.btn{
    padding:0 5px 0 5px;
    background-color: rgb(164, 69, 237);
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 30px;
}


.change-theme{
    margin-right: 10px;
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 35px;
    padding: 7px;
    padding-left: 14px;
    border-radius: 7px;  
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgb(164, 69, 237);
}

.change-theme:hover{
    cursor: pointer;
}
.change-theme:focus{
    box-shadow: 0px 0px 5px 0px rgb(164, 69, 237);
    /* outline: none; */
}

.dark{
    transition: 500ms;
    background-color: black;
    color: white;
}

.example{
    margin-top: 0px;
    font-size: 17px;
    font-weight: 100;
    margin-left: 15px;
    color: rgb(158, 157, 157);

}
.header{
    margin: auto;
    margin-top: 50px;
    width: 800px ;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;

}


.image{

    height: 40px;
    position: absolute;
    right: 10px;
    border-radius: 100%;
    padding: 10px;
    
}
.image:hover{
    /* border-radius: 5px; */
    cursor: pointer;
}
.image:focus{
    border-style:solid ;
    border-width: 1px;
    border-color: black;
}

.input-word{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(244, 244, 244);
}
.light{
    transition: 500ms;
    background-color: white;
    color: black;
}
.listen{
    height: 100px;
    width: 100px;
    background-size: cover;
    margin-right: 70px;
    margin-bottom: 10px;
}
.listen:hover{
    cursor: pointer;
}

.main{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
    flex-direction: column;
}
.means{
    width: fit-content;
    padding: 10px;    
    border-radius: 5px;
    height: fit-content;
    margin-top: 10px;
    font-size: 20px;
}
.meaning-type{
    margin-top: 30px;
}
.moon{
    transition: 500ms;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTD37KJrkEAkZVukGRT7mL0lpcQOPHLoYgNbQbyYSaYWIp42418");
    background-size: cover;
}


.not-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.slider{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.slider-active{
    /* background-image- */
    /* font-weight: ; */
    transition: 300ms;
    transform: translateX(30px);
}
.slider-deactive{
    transition: 300ms;
    transform: translateX(0px);
}
.sun{
    transition: 500ms;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-image: url("https://em-content.zobj.net/thumbs/120/twitter/322/sun_2600-fe0f.png");
    background-size: cover;
    
}
.site{
    margin-left: 10px;
}

.type{
    color: rosybrown;
    font-style: italic;
}


.word1{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    height: 40px;
    border-radius:15px ;
    width: 760px;
    font-size: 25px;
    padding: 20px;
    border-width: 0;
    
    background-color: rgb(244, 244, 244);
    
}
.word1:hover {
    box-shadow: 0px 0px 10px 0px;
    transition: 200ms;
    cursor: pointer;
    
}
.word1:focus{
    border: none;
    box-shadow: 0px 0px 5px 2px rgb(164, 69, 237);
    outline-color:  rgb(164, 69, 237);
    outline-style: solid;
    outline-width:1px ;
}
.word-info{

    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 800px;
    height: 70px;
    border-radius: 10px 10px 0 0;
}

.word-again{
    padding-bottom: 30px;
    font-size: 70px;
    margin-left: 10px;
    height: fit-content;
}
.word-phonetic{
    font-size: 30px;
    /* margin-left: 10px; */
    padding: 0 0 10px 10px;
    /* background-color: aliceblue; */
    height: fit-content;
    color: rgb(164, 69, 237);
    width: 790px;
    border-radius: 0 0 10px 10px;
}





/* *************************** id selectors ***************************** */

#meaning{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 60px;
    justify-content: space-around;
}
.speaker:hover{
    cursor: pointer;
}
